.home{

    padding-top: 4.65rem;
  
    @include breakpoint(small only){
      padding-top: 3rem;
    }
  
    .hero{
      width: 100%;
      box-sizing: border-box;
  
      .hero-slider{
        img{
          width: 100% !important;
        }
      }
    }
  
    .display-products{
      padding: 3rem;
  
      @include breakpoint(small only) {
        text-align: center;
        padding: 0.7rem;
      }
  
      a{
        color: #0a0a0a;
  
        &:focus{
          outline-style: none;
        }
      }
  
      .card{
        padding: 0.9rem;
        margin-bottom: 1rem;
  
        .card-section{
          margin-bottom: 0.7rem;
  
          img{
            border-radius: 0.5rem;
            width: 200px !important;
            height: 250px !important;
          }
  
          .button{
            border-radius: 0.2rem;
            cursor: pointer;
            font-size: 0.8rem;
  
            &.more{
              color: #00d6b2;
              background-color: #ffffff;
              border: 1px solid #00d6b2;
            }
            &.cart{
              color: #ffffff;
              background-color: #ff0000;
              border: 1px solid #ff0000;
              &:hover{
                background-color: lighten(#bf0000, 7%);
              }
            }
          }
        }
      }
    }
  }